/Stanford/Algorithms for Decision Making.pdf
/Stanford/Stanford Transcript.pdf
/Stanford/Voucher 377352-01.pdf
/Stanford/Voucher 383877-01.pdf
/Stanford/CS229 Machine Learning/CS229Notes.pdf
/Stanford/CS229 Machine Learning/CS_229_Final_Exam.pdf
/Stanford/CS229 Machine Learning/CS_229_Final_Exam_Score.pdf
/Stanford/CS229 Machine Learning/CS_229_Final_Exam_Solutions.pdf
/Stanford/CS229 Machine Learning/CS_229_Final_Exam_submission.pdf
/Stanford/CS229 Machine Learning/ps4/
/Stanford/CS229 Machine Learning/ps3/src/make_zip.py
/Stanford/CS229 Machine Learning/ps3/src/submission.zip
/Stanford/CS229 Machine Learning/ps3/environment.yml
/Stanford/CS229 Machine Learning/ps3/ps3.pdf
/Stanford/CS229 Machine Learning/ps3/ps3-sol.pdf
/Stanford/CS229 Machine Learning/ps3/ps3submission.pdf
/Stanford/CS229 Machine Learning/ps3/ps3tex.zip
/Stanford/CS229 Machine Learning/ps3/README.md
/Stanford/CS229 Machine Learning/ps2/environment.yml
/Stanford/CS229 Machine Learning/ps2/ps2.pdf
/Stanford/CS229 Machine Learning/ps2/ps2-sol.pdf
/Stanford/CS229 Machine Learning/ps2/ps2submission.pdf
/Stanford/CS229 Machine Learning/ps2/ps2tex.zip
/Stanford/CS229 Machine Learning/ps2/README.md
/Stanford/CS229 Machine Learning/ps2/src/make_zip.py
/Stanford/CS229 Machine Learning/ps2/src/submission.zip
/Stanford/CS229 Machine Learning/ps1/environment.yml
/Stanford/CS229 Machine Learning/ps1/ps1.pdf
/Stanford/CS229 Machine Learning/ps1/ps1-sol.pdf
/Stanford/CS229 Machine Learning/ps1/ps1submission.pdf
/Stanford/CS229 Machine Learning/ps1/ps1tex.zip
/Stanford/CS229 Machine Learning/ps1/README.md
/Stanford/CS229 Machine Learning/ps1/src/make_zip.py
/Stanford/CS229 Machine Learning/ps1/src/submission.zip
/Stanford/CS229 Machine Learning/ps0/
/Stanford/CS229 Machine Learning/Previous Exams/
/Stanford/CS229 Machine Learning/CS 229 Lecture/
/CMU/
/Stanford/
z_npNote.py
